#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  .myButton {
      box-shadow: 3px 4px 0px 0px #899599;
      background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
      background-color:#ededed;
      border-radius:21px;
      border:1px solid #d6bcd6;
      display:inline-block;
      cursor:pointer;
      color:#3a8a9e;
      font-family:Arial;
      font-size:17px;
      padding:6px 25px;
      text-decoration:none;
      text-shadow:0px -3px 0px #e1e2ed;
  }
  .myButton:hover {
      background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
      background-color:#bab1ba;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }



  body{
    font-family:sans-serif;
    color:#333;
  }

  .btn {
    background: #428bca;
    border: #357ebd solid 0px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
  }
  .btn:hover {
    background: #357ebd;
  }
  .btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
  }
  .btn-close {
    color: #aaaaaa;
    font-size: 20px;
    text-decoration: none;
    padding:10px;
    position: absolute;
    right: 7px;
    top: 0;
  }
  .btn-close:hover {
    color: #919191;
  }
  .modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .opened:before {
    display: block;
  }
  .opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
  }
  .modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    text-align:center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  .modal-body {
    padding: 20px;
  }
  .modal-body input{
    width:200px;
    padding:8px;
    border:1px solid #ddd;
    color:#888;
    outline:0;
    font-size:14px;
    font-weight:bold
  }
  .modal-header,
  .modal-footer {
    padding: 10px 20px;
  }
  .modal-header {
    border-bottom: #eeeeee solid 1px;
  }
  .modal-header h2 {
    font-size: 20px;
  }


  .btn-custom {
    background-color: #3584e4;
    border-color: #2877d7;
    color:#ffffff;
  }
  .btn-custom:hover,
  .btn-custom:focus,
  .btn-custom:active,
  .btn-custom.active {
    background-color: #2574d4;
    border-color: #0d5cbc;
    color:#ffffff;
  }
  .btn-custom.disabled:hover,
  .btn-custom.disabled:focus,
  .btn-custom.disabled:active,
  .btn-custom.disabled.active,
  .btn-custom[disabled]:hover,
  .btn-custom[disabled]:focus,
  .btn-custom[disabled]:active,
  .btn-custom[disabled].active,
  fieldset[disabled] .btn-custom:hover,
  fieldset[disabled] .btn-custom:focus,
  fieldset[disabled] .btn-custom:active,
  fieldset[disabled] .btn-custom.active {
    background-color: #3584e4;
    border-color: #2877d7;
    color:#ffffff;
  }
  
  